<section>
    <div class="text-about">
        <h1>A história dos Pokémon é uma narrativa fascinante que se desenvolveu ao longo de décadas, envolvendo uma mistura de jogos, desenhos animados, filmes e uma infinidade de produtos de mídia. Aqui está uma breve visão geral:

            No mundo fictício dos Pokémon, humanos, conhecidos como treinadores, capturam e treinam criaturas chamadas Pokémon para batalhar umas contra as outras. Os Pokémon variam em formas, tamanhos e habilidades, alguns sendo pequenos e adoráveis, enquanto outros são enormes e imponentes. <br> <br>
            
            A história começa com o lançamento dos jogos originais de Pokémon para Game Boy em 1996, criados por Satoshi Tajiri e Ken Sugimori, da Nintendo e da Game Freak. Os jogadores assumem o papel de um jovem treinador Pokémon que embarca em uma jornada para se tornar o maior mestre Pokémon do mundo, capturando, treinando e batalhando com diferentes espécies de Pokémon. <br> <br>
            
            O sucesso dos jogos levou à criação de uma série animada de TV, que estreou em 1997, expandindo ainda mais o universo Pokémon. A história segue um jovem treinador chamado Ash Ketchum (Satoshi no original japonês), que sonha em se tornar o maior Mestre Pokémon. Acompanhado por seu fiel parceiro Pikachu e uma equipe rotativa de amigos, Ash viaja pela região de Kanto e além, participando de torneios de batalha Pokémon, enfrentando vilões da Equipe Rocket e explorando mistérios do mundo Pokémon. <br> <br>
            
            Além dos jogos e da série animada, há uma série de filmes de animação que exploram histórias emocionantes e misteriosas dentro do mundo Pokémon. Essas histórias muitas vezes envolvem Pokémon lendários, poderosos e raros que habitam o mundo e influenciam eventos significativos.
            
            Ao longo dos anos, a franquia Pokémon cresceu e evoluiu, adicionando novas regiões, novos Pokémon e novos recursos de jogabilidade. No cerne de tudo isso está a mensagem de amizade, trabalho em equipe e superação de desafios, que ressoa com fãs de todas as idades ao redor do mundo. </h1>
    </div>
</section>