<section class="section">
    <div class="text">
        <h1>
            Bem-vindo ao nosso site dedicado ao fascinante mundo dos Pokémon! <br> <br>

            Se você é um fã dedicado desde os primórdios da região de Kanto ou um novato curioso ansioso para explorar
            as maravilhas de Galar, você veio ao lugar certo. Aqui, mergulhamos de cabeça no universo dos Pokémon,
            oferecendo uma experiência única e imersiva para treinadores de todas as idades. <br> <br>

            Explore nosso vasto banco de dados de Pokémon, onde você pode encontrar informações detalhadas sobre cada
            espécie, desde seus tipos e habilidades até suas evoluções e locais de encontro. Seja você um treinador
            ávido em busca de estratégias de batalha ou um colecionador determinado a capturar todos os Pokémon
            conhecidos, estamos aqui para ajudar você em sua jornada. <br> <br>

            Além disso, nosso site oferece notícias atualizadas, análises de jogos, resenhas de produtos e muito mais
            para mantê-lo informado e entretido no mundo Pokémon em constante evolução. Não importa se você está
            procurando dicas para vencer o próximo ginásio ou apenas quer se maravilhar com a arte impressionante dos
            Pokémon, há algo para todos os treinadores aqui. <br> <br>

            Então, pegue sua Pokébola, escolha seu inicial e embarque nesta aventura emocionante conosco. Juntos, vamos
            explorar as maravilhas e mistérios do vasto mundo dos Pokémon!

            Prepare-se para se tornar um verdadeiro Mestre Pokémon - só aqui, no nosso site.
        </h1>
    </div>
    <div class="foto">
        <a
            href="https://www.google.com/url?sa=i&url=https%3A%2F%2Fperfisecross.fandom.com%2Fpt-br%2Fwiki%2FAsh_Ketchum_%2528Satoshi%2529&psig=AOvVaw3tcTjtE6dk-P-F7chWmnYD&ust=1712442527272000&source=images&cd=vfe&opi=89978449&ved=0CBIQjRxqFwoTCICAo9aPrIUDFQAAAAAdAAAAABAE"></a>
    </div>
</section>